

.header{
  background-color: #292929;
  height: 140px;
}

.hero{
  height: 550px;
  background-image: url(/Rectangle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(41, 41, 41, 1);
}

.headerText{
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 193px;
    height: 60px;
    left: 77px;
    top: 40px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heroText{
  position: absolute;
    width: 490px;
    height: 282px;
    left: 77px;
    top: 247px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}


.search {
  display: flex;
  flex-direction: column;
}

.search label {
  margin-top: 98px;
  margin-left: 77px;

}

.search input {
  box-sizing: border-box;

  width: 1306px;
  height: 54px;

  border: 1px solid #000000;

  margin: 0 77px 57px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@media only screen and (max-width:800px) {
  .main{
    width: 900px;
  }

  

  .headerText{
    left: 340px;
    
  }

  

  .heroText{
    left: 172px;
  }

  .search input{
    width: 680px;
    margin: 0px 77px 77px;
  }
}

.category{
  position: absolute;
    width: 279px;
    height: 31px;
    left: 67px;
    top: 888px;
  
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
  
    color: #000000;
}